<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Dashboard
        </h1>
        <ol class="breadcrumb">
            <li><a class="active">Dashboard</a></li>
        </ol>

    </div>
    <div id="page-inner">


        <div class="row align-center">
            <div class="col-xs-12 col-sm-6 col-md-5">

                <div class="card horizontal cardIcon waves-effect waves-dark" style="line-height: 5;">
                    <div class="card-image blue">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="card-stacked">
                        <!-- <div class="card-content">
                            <h3>25,550</h3>
                        </div> -->
                        <div class="card-action">
                            <a [routerLink]="['/profile']"t>
                                <strong>Quản lý profile</strong>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">

                <div class="card horizontal cardIcon waves-effect waves-dark" style="line-height: 5;">
                    <div class="card-image orange">
                        <i class="fa fa-file-text-o fa-5x"></i>
                    </div>
                    <div class="card-stacked">
                        <!-- <div class="card-content">
                            <h3>25,550</h3>
                        </div> -->
                        <div class="card-action">
                            <a [routerLink]="['/sale-post']">
                                <strong>Quản lý bài đăng</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="card horizontal cardIcon waves-effect waves-dark" style="line-height: 5;">
                    <div class="card-image green">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="card-stacked">
                        <!-- <div class="card-content">
                            <h3>11,225</h3>
                        </div> -->
                        <div class="card-action">
                            <a [routerLink]="['/user-management']">
                                <strong>Quản lý người dùng</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="card horizontal cardIcon waves-effect waves-dark" style="line-height: 5;">
                    <div class="card-image">
                        <i class="fa fa-table fa-5x"></i>
                    </div>
                    <div class="card-stacked">
                        <!-- <div class="card-content">
                            <h3>11,225</h3>
                        </div> -->
                        <div class="card-action">
                            <a [routerLink]="['/category']">
                                <strong>Quản lý danh mục</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>