<form>
    <div class="row">
        <div class="popup-group">
            <div class="popup-header">
                <h1 mat-dialog-title>{{ data.title }}</h1>
            </div>
            <div class="popup-content">
                <div class="form-group">
                    <div class="input-group">
                        <label  class="input-group-btn">
                            <span class="btn btn-primary">
                                Chọn ảnh <input name="image" type="file" accept=".jpg, .png, .JPG, .PNG" (change)="selectNameImg($event)" style="display: none;">
                            </span>
                        </label>
                        <input id='image_name' type="text" class="form-control" [value]="(imageName != null) ? imageName : ''" readonly>
                    </div>
                </div>
        
                <div class="form-group">
                    <div class="input-group">
                        <label  class="input-group-btn">
                            <span class="btn btn-primary">
                                Chọn audio <input name="audio" type="file" accept=".mp3, .MP3" (change)="selectNameAudio($event)" style="display: none;">
                            </span>
                        </label>
                        <input id='audio_name' type="text" class="form-control" [value]="(audioName != null) ? audioName : ''" readonly>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="text">Text:</label>
                    <textarea id="text" name="text" class="form-control" rows="5"></textarea>
                </div>
        
                <div id="question_1" class="popup-question-content">
                    <span class="icon-cancel-question">
                        <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                    </span>

                    <div class="form-group">
                        <div class="question">
                            <div class="input-group">
                                <span class="input-group-addon">Question</span>
                                <input name="question" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="answer">
                            <div class="input-group">
                                <div class="input-group-btn btn btn-primary">
                                    <input id="isRight_1_1" type="radio" name="correctAnswer_1" value="A" style="transform: scale(1.5);">
                                </div>
                                <span class="input-group-addon" style="width: 40px;">A</span>
                                <input name="answer_1" type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn btn btn-primary">
                                    <input  id="isRight_1_2" type="radio" name="correctAnswer_1" value="B" style="transform: scale(1.5);">
                                </div>
                                <span class="input-group-addon" style="width: 40px;">B</span>
                                <input name="answer_2" type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn btn btn-primary">
                                    <input  id="isRight_1_3" type="radio" name="correctAnswer_1" value="C" style="transform: scale(1.5);">
                                </div>
                                <span class="input-group-addon" style="width: 40px;">C</span>
                                <input name="answer_3" type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <div class="input-group-btn btn btn-primary">
                                    <input  id="isRight_1_4" type="radio" name="correctAnswer_1" value="D" style="transform: scale(1.5);">
                                </div>
                                <span class="input-group-addon" style="width: 40px;">D</span>
                                <input name="answer_4" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="explain">Explain:</label>
                                <textarea id="explain_1" name="explain_1" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="popup-add-question" style="text-align: center;">
                    <button id="addElementQuestion" class="btn btn-primary" style="padding-top: 10px;" (click)="addElementQuestion()" title="Add another question" >
                        <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <div class="popup-footer" style="text-align: right;">
                <button class="btn btn-primary" (click)="onNoClick()">No Thanks</button>
                &nbsp;
                <button class=" btn btn-success" (click)="submitGroupQuestion()">Update</button>
            </div>

        </div>
    </div>
</form>

