<form>
    <div class="row">
        <div class="popup-group">
            <div class="popup-header">
                <h1 mat-dialog-title>{{ data.title }}</h1>
            </div>
            <div class="popup-content">
                <div class="form-group">
                    <div class="input-group">
                        <label  class="input-group-btn">
                            <span class="btn" style="width:120px;">
                                Chọn ảnh <input name="image" type="file" accept=".jpg, .png, .JPG, .PNG" (change)="selectNameImg($event)" style="display: none;">
                            </span>
                        </label>
                        <input id='image_name' type="text" class="form-control" [value]="(imageName != null && imageName != 'undefined') ? imageName : ''" readonly>
                    </div>
                </div>
        
                <div class="form-group">
                    <div class="input-group">
                        <label  class="input-group-btn">
                            <span class="btn">
                                Chọn audio <input name="audio" type="file" accept=".mp3, .MP3" (change)="selectNameAudio($event)" style="display: none;">
                            </span>
                        </label>
                        <input id='audio_name' type="text" class="form-control" [value]="(audioName != null && audioName != 'undefined') ? audioName : ''" readonly>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="text">Text:</label>
                    <textarea id="text" name="text" class="form-control" rows="5"></textarea>
                </div>
        
                <div id="question_1" class="popup-question-content">
                    <span class="icon-cancel-question">
                        <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                    </span>

                    <div class="form-group">
                        <div class="question">
                            <div class="input-group">
                                <label for="question" class="input-group-addon">Question</label>
                                <input id="question" name="question" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="answer">
                            <div class="input-group">
                                <div class="inline">
                                    <input id="isRight_1_1" type="radio" name="correctAnswer_1" value="A">
                                    <label for="isRight_1_1"></label>
                                </div>
                                <label for="isRight_1_1" class="input-group-addon" style="width: 40px; cursor: pointer;">A</label>
                                <input name="answer_1" type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <div class="">
                                    <input  id="isRight_1_2" type="radio" name="correctAnswer_1" value="B">
                                    <label for="isRight_1_2"></label>
                                </div>
                                <label for="isRight_1_2" class="input-group-addon" style="width: 40px; cursor: pointer;">B</label>
                                <input name="answer_2" type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <div class="">
                                    <input  id="isRight_1_3" type="radio" name="correctAnswer_1" value="C">
                                    <label for="isRight_1_3"></label>
                                </div>
                                <label for="isRight_1_3" class="input-group-addon" style="width: 40px; cursor: pointer;">C</label>
                                <input name="answer_3" type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <div class="">
                                    <input  id="isRight_1_4" type="radio" name="correctAnswer_1" value="D">
                                    <label for="isRight_1_4"></label>
                                </div>
                                <label for="isRight_1_4" class="input-group-addon" style="width: 40px; cursor: pointer;">D</label>
                                <input name="answer_4" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="explain_1">Explanation:</label>
                                <textarea id="explain_1" name="explain_1" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="popup-add-question" style="text-align: center;">
                    <button id="addElementQuestion" class="btn-floating" 
                        (click)="addElementQuestion()" title="Add another question" >
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>

            <div class="popup-footer" style="text-align: right;">
                <button class="btn btn-primary" (click)="onNoClick()">No Thanks</button>
                &nbsp;
                <button class=" btn btn-success" (click)="submitGroupQuestion()">Submit</button>
            </div>

        </div>
    </div>
</form>

