<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a routerLink="/dashboard" routerLinkActive="active-menu" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i>
                    Dashboard</a>
            </li>
            <li>
                <a routerLink="/profile" routerLinkActive="active-menu" class="waves-effect waves-dark"><i class="fa fa-user"></i>
                    Quản lý profile</a>
            </li>
            <li>
                <a routerLink="/document-management" routerLinkActive="active-menu" class="waves-effect waves-dark"><i class="fa fa-file-text-o"></i>
                    Quản lý tài liệu</a>
            </li>
            <li>
                <a routerLink="/user-management" routerLinkActive="active-menu" class="waves-effect waves-dark"><i class="fa fa-users"></i>
                    Quản lý tài khoản</a>
            </li>
        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->

<router-outlet></router-outlet>