<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Thêm Account</h2>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form  [formGroup]= "createAccountForm">
                                    <div class="form-group">
                                        <label for="uname">Username</label>
                                        <input id="uname" type="text" formControlName="username"
                                            name="uname" class="form-control"/>
                                        <div *ngIf="createAccountFormControl.username.errors 
                                            && (createAccountFormControl.username.touched || createAccountFormControl.username.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="createAccountFormControl.username.errors.required"  class="text-danger">
                                                Username is required.
                                            </div>
                                            <div *ngIf="createAccountFormControl.username.errors.containAllBlankCharacter">
                                                Username must not be blank character.
                                            </div>
                                            <div *ngIf="createAccountFormControl.username.errors.maxlength">
                                                Username must be at less than 100 characters long.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="fname">Full name</label>
                                        <input id="fname" type="text" formControlName="fullName"
                                            name="fname" class="form-control"/>
                                        <div *ngIf="createAccountFormControl.fullName.errors 
                                            && (createAccountFormControl.fullName.touched || createAccountFormControl.fullName.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="createAccountFormControl.fullName.errors.required"  class="text-danger">
                                                Full name  is required.
                                            </div>
                                            <div *ngIf="createAccountFormControl.fullName.errors.containAllBlankCharacter">
                                                Full name  must not be blank character.
                                            </div>
                                            <div *ngIf="createAccountFormControl.fullName.errors.maxlength">
                                                Full name must be at less than 100 characters long.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input id="email" type="text" formControlName="email"
                                            name="email" class="form-control"/>
                                        <div *ngIf="createAccountFormControl.email.errors 
                                            && (createAccountFormControl.email.touched || createAccountFormControl.email.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="createAccountFormControl.email.errors.required"  class="text-danger">
                                                Email  is required.
                                            </div>
                                            <div *ngIf="createAccountFormControl.email.errors.email">
                                                Email invalid format.
                                            </div>
                                            <div *ngIf="createAccountFormControl.email.errors.maxlength">
                                                Email must be at less than 100 characters long.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input id="password" type="text" formControlName="password"
                                            name="password" class="form-control"/>
                                        <div *ngIf="createAccountFormControl.password.errors 
                                            && (createAccountFormControl.password.touched || createAccountFormControl.password.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="createAccountFormControl.password.errors.required"  class="text-danger">
                                                Password is required.
                                            </div>
                                            <div *ngIf="createAccountFormControl.password.errors.minlength">
                                                Password must be at least 6 characters long.
                                            </div>
                                            <div *ngIf="createAccountFormControl.password.errors.containAllBlankCharacter">
                                                Password must not be blank character.
                                            </div>
                                            <div *ngIf="createAccountFormControl.password.errors.maxlength">
                                                Password must be at less than 50 characters long.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm Password</label>
                                        <input id="confirmPassword" type="text" formControlName="confirmPassword"
                                            name="confirmPassword" class="form-control"/>
                                        <div *ngIf="createAccountFormControl.confirmPassword.errors 
                                            && (createAccountFormControl.confirmPassword.touched || createAccountFormControl.confirmPassword.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="createAccountFormControl.confirmPassword.errors.required" class="text-danger">
                                                Confirm Password is required.
                                            </div>
                                            <div *ngIf="createAccountFormControl.confirmPassword.errors.minlength">
                                                Confirm Password must be at least 6 characters long.
                                            </div>
                                            <div *ngIf="createAccountFormControl.confirmPassword.errors.containAllBlankCharacter">
                                                Confirm Password must not be blank character.
                                            </div>
                                            <div *ngIf="createAccountFormControl.confirmPassword.errors.maxlength">
                                                Confirm Password must be at less than 50 characters long.
                                            </div>
                                            <div *ngIf="createAccountFormControl.confirmPassword.errors.mustMatch">
                                                Confirm Password does not match.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="category">Role</label>
                                        <select formControlName="roleId" id="category" name="roleId" name="category" class="form-control">
                                            <option value="">--</option>
                                            <option *ngFor="let rl of roles" [value]="rl.roleId">{{rl.role}}</option>
                                        </select>
                                        <div *ngIf="createAccountFormControl.roleId.errors && createAccountFormControl.roleId.touched" class="text-danger">
                                            Please select role
                                        </div>
                                    </div>
                                    <button [disabled]="createAccountForm.invalid" class="btn btn-success btn-md" (click)="onCreateNewUser()">Thêm</button>
                                    &nbsp;
                                    <button class="btn btn-primary btn-md" [routerLink]="['../']">Trở về</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form Elements -->
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>