
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Group Question</h2>
            </div>
        </div>
       
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            
            <div class="question-group-wrap col-md-12">
                <div class="question-item">
                    <div class="question-content">
                        <div class="col-md-12">
                            <div class="audio-item">
                                <audio preload="auto" controls>
                                    <source src="../../../../assets/audio/test.mp3"  type="audio/mp3">
                                </audio>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="transcript-item">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione impedit assumenda unde, laborum, accusamus ad quos nisi distinctio quasi excepturi iure eos ex nulla aliquam possimus? Eaque possimus nisi iure.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-item">
                                <img src="../../../../assets/img/anh1.png" style="width: 100%">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="answer-item">
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-1" disabled="disabled">
                                        <label for="radio-1">
                                            <i class="icon icon_radio"></i>
                                            A. He is on the phone
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-2" disabled="disabled">
                                        <label for="radio-2">
                                            <i class="icon icon_radio"></i>
                                            B. She is driving the car
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-3" disabled="disabled">
                                        <label for="radio-3">
                                            <i class="icon icon_radio"></i>
                                            C. She is typing on the computer
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-4" checked disabled="disabled">
                                        <label for="radio-4" style="color: orangered;">
                                            <i class="icon icon_radio"></i>
                                            D. He is sitting next to her
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class="function-item">
                                <a title="Sửa" class="btn btn-primary">
                                    <i class="fa fa-edit "></i></a> 
                                    &nbsp;
                                <a title="Xóa" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-group-wrap col-md-12">
                <div class="question-item">
                    <div class="question-content">
                        <div class="col-md-12">
                            <div class="audio-item">
                                <audio preload="auto" controls>
                                    <source src="../../../../assets/audio/test.mp3"  type="audio/mp3">
                                </audio>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="transcript-item">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione impedit assumenda unde, laborum, accusamus ad quos nisi distinctio quasi excepturi iure eos ex nulla aliquam possimus? Eaque possimus nisi iure.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="answer-item" style="margin-left: 20%;">
                                <ul class="answer-list">
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-1" disabled="disabled">
                                        <label for="radio-1">
                                            <i class="icon icon_radio"></i>
                                            A. He is on the phone
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-2" disabled="disabled">
                                        <label for="radio-2">
                                            <i class="icon icon_radio"></i>
                                            B. She is driving the car
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-3" disabled="disabled">
                                        <label for="radio-3">
                                            <i class="icon icon_radio"></i>
                                            C. She is typing on the computer
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-4" checked disabled="disabled">
                                        <label for="radio-4" style="color: orangered;">
                                            <i class="icon icon_radio"></i>
                                            D. He is sitting next to her
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                        <div class="col-md-4">
                            <div class="function-item">
                                <a title="Sửa" class="btn btn-primary">
                                    <i class="fa fa-edit "></i></a> 
                                    &nbsp;
                                <a title="Xóa" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="question-group-wrap col-md-12">
                <div class="question-item">
                    <div class="question-content">
                        <div class="col-md-12">
                            <div class="audio-item">
                                <audio preload="auto" controls>
                                    <source src="../../../../assets/audio/test.mp3"  type="audio/mp3">
                                </audio>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="transcript-item">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione impedit assumenda unde, laborum, accusamus ad quos nisi distinctio quasi excepturi iure eos ex nulla aliquam possimus? Eaque possimus nisi iure.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="answer-item" style="margin-left: 20%;">
                                <ul class="answer-list">
                                    <li>
                                        <p>question</p>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-1" disabled="disabled">
                                        <label for="radio-1">
                                            <i class="icon icon_radio"></i>
                                            A. He is on the phone
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-2" disabled="disabled">
                                        <label for="radio-2">
                                            <i class="icon icon_radio"></i>
                                            B. She is driving the car
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-3" disabled="disabled">
                                        <label for="radio-3">
                                            <i class="icon icon_radio"></i>
                                            C. She is typing on the computer
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-4" checked disabled="disabled">
                                        <label for="radio-4" style="color: orangered;">
                                            <i class="icon icon_radio"></i>
                                            D. He is sitting next to her
                                        </label>
                                    </li>
                                </ul>

                                <ul class="answer-list">
                                    <li>
                                        <p>question</p>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-1" disabled="disabled">
                                        <label for="radio-1">
                                            <i class="icon icon_radio"></i>
                                            A. He is on the phone
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-2" disabled="disabled">
                                        <label for="radio-2">
                                            <i class="icon icon_radio"></i>
                                            B. She is driving the car
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-3" disabled="disabled">
                                        <label for="radio-3">
                                            <i class="icon icon_radio"></i>
                                            C. She is typing on the computer
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-4" checked disabled="disabled">
                                        <label for="radio-4" style="color: orangered;">
                                            <i class="icon icon_radio"></i>
                                            D. He is sitting next to her
                                        </label>
                                    </li>
                                </ul>

                                <ul class="answer-list">
                                    <li>
                                        <p>question</p>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-1" disabled="disabled">
                                        <label for="radio-1">
                                            <i class="icon icon_radio"></i>
                                            A. He is on the phone
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-2" disabled="disabled">
                                        <label for="radio-2">
                                            <i class="icon icon_radio"></i>
                                            B. She is driving the car
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-3" disabled="disabled">
                                        <label for="radio-3">
                                            <i class="icon icon_radio"></i>
                                            C. She is typing on the computer
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="radio-1" id="radio-4" checked disabled="disabled">
                                        <label for="radio-4" style="color: orangered;">
                                            <i class="icon icon_radio"></i>
                                            D. He is sitting next to her
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                        <div class="col-md-4">
                            <div class="function-item">
                                <a title="Sửa" class="btn btn-primary">
                                    <i class="fa fa-edit "></i></a> 
                                    &nbsp;
                                <a title="Xóa" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

