.question-group-wrap {
    margin: 20px 0;
    padding: 30px 0;
    position: relative;
}

.question-group-wrap::after {
    content: '';
    position: absolute;
    border: 0.2px solid #ff8181;
    left: 54px;
    top: 0;
    width: 90%;
}

.question-item {
    width: 85%;
    height: 100%;
    margin: auto;
}

.img-item {
    max-width: 80%;
    vertical-align: middle;
    border: 0;
    margin: 20px auto;
}

.audio-item {
    padding: 0; width: 50%;  margin: 20px auto;
}

.answer-list {
    list-style: none;
    margin: 0 20px;
    padding: 0;
}

.answer-list li {
   padding: 5px 0;
}

.answer-list .icon_radio {
    padding: 5px;
}

.text-item {
    width: 95%;
    margin: auto;
}

.function-item {
   text-align: center;
   margin-top: 30px;
   margin-bottom: -25px;
}

