<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Quản lý profile
        </h1>
        <ol class="breadcrumb">
            <li><a class="active">Quản lý profile</a></li>
        </ol>

    </div>
    <div id="page-inner">
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 text-primary" style="margin: 10px 25%; border: 2px solid aliceblue;">
                                <table id="table_profile" class="table">
                                    <tr>
                                        <td><h5>Username:</h5></td>
                                        <td><p>{{ profileAPI.username }}</p></td>
                                    </tr>
                                    <tr>
                                        <td><h5>First Name:</h5></td>
                                        <td><p>{{ profileAPI.firstName }}</p></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Last Name:</h5></td>
                                        <td><p>{{ profileAPI.lastName }}</p></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Email:</h5></td>
                                        <td><p>{{ profileAPI.email }}</p></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Phone:</h5></td>
                                        <td><p>{{ profileAPI.phone }}</p></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Role:</h5></td>
                                        <td><p *ngFor="let role of profileAPI.roleEntities">{{ role.roleName }}</p></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p>
                                                <input type="checkbox" [checked]="profileAPI.vipAccount">
                                                <label id="vip_account">Vip Account</label>
                                            </p>
                                        </td>
                                    </tr>
                                    
                                </table>
                                <div class="profile-action">
                                    <button class="btn btn-primary btn-md" 
                                    routerLinkActive="router-link-active"
                                    [routerLink]="['/profile/edit-profile']">Chỉnh sửa</button>
                                &nbsp;
                                <button class="btn btn-primary btn-md" 
                                    [routerLink]="['/profile/change-pass']">Đổi mật khẩu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form Elements -->
            </div>
        </div>
        <!-- /. ROW  -->

    </div>
</div>
