<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Quản lý profile</h2>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form  [formGroup]= "profileForm">
                                    <div class="form-group">
                                        <label for="uname">Username</label>
                                        <input id="uname" type="text" formControlName="username"
                                            name="uname" class="form-control"/>
                                        <div *ngIf="profileFormControl.username.errors 
                                            && (profileFormControl.username.touched || profileFormControl.username.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="profileFormControl.username.errors.required"  class="text-danger">
                                                Username is required.
                                            </div>
                                            <div *ngIf="profileFormControl.username.errors.containAllBlankCharacter">
                                                Username must not be blank character.
                                            </div>
                                            <div *ngIf="profileFormControl.username.errors.maxlength">
                                                Username must be at less than 100 characters long.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="fname">Full name</label>
                                        <input id="fname" type="text" formControlName="fullName"
                                            name="fname" class="form-control"/>
                                        <div *ngIf="profileFormControl.fullName.errors 
                                            && (profileFormControl.fullName.touched || profileFormControl.fullName.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="profileFormControl.fullName.errors.required"  class="text-danger">
                                                Full name  is required.
                                            </div>
                                            <div *ngIf="profileFormControl.fullName.errors.containAllBlankCharacter">
                                                Full name  must not be blank character.
                                            </div>
                                            <div *ngIf="profileFormControl.fullName.errors.maxlength">
                                                Full name must be at less than 100 characters long.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input id="email" type="text" formControlName="email"
                                            name="email" class="form-control"/>
                                        <div *ngIf="profileFormControl.email.errors 
                                            && (profileFormControl.email.touched || profileFormControl.email.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="profileFormControl.email.errors.required"  class="text-danger">
                                                Email  is required.
                                            </div>
                                            <div *ngIf="profileFormControl.email.errors.email">
                                                Email invalid format.
                                            </div>
                                            <div *ngIf="profileFormControl.email.errors.maxlength">
                                                Email must be at less than 100 characters long.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input id="password" type="text" formControlName="password"
                                            name="password" class="form-control"/>
                                        <div *ngIf="profileFormControl.password.errors 
                                            && (profileFormControl.password.touched || profileFormControl.password.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="profileFormControl.password.errors.required"  class="text-danger">
                                                Password is required.
                                            </div>
                                            <div *ngIf="profileFormControl.password.errors.minlength">
                                                Password must be at least 6 characters long.
                                            </div>
                                            <div *ngIf="profileFormControl.password.errors.containAllBlankCharacter">
                                                Password must not be blank character.
                                            </div>
                                            <div *ngIf="profileFormControl.password.errors.maxlength">
                                                Password must be at less than 50 characters long.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm Password</label>
                                        <input id="confirmPassword" type="text" formControlName="confirmPassword"
                                            name="confirmPassword" class="form-control"/>
                                        <div *ngIf="profileFormControl.confirmPassword.errors 
                                            && (profileFormControl.confirmPassword.touched || profileFormControl.confirmPassword.dirty)" 
                                            class="text-danger">
                                            <div *ngIf="profileFormControl.confirmPassword.errors.required" class="text-danger">
                                                Confirm Password is required.
                                            </div>
                                            <div *ngIf="profileFormControl.confirmPassword.errors.minlength">
                                                Confirm Password must be at least 6 characters long.
                                            </div>
                                            <div *ngIf="profileFormControl.confirmPassword.errors.containAllBlankCharacter">
                                                Confirm Password must not be blank character.
                                            </div>
                                            <div *ngIf="profileFormControl.confirmPassword.errors.maxlength">
                                                Confirm Password must be at less than 50 characters long.
                                            </div>
                                            <div *ngIf="profileFormControl.confirmPassword.errors.mustMatch">
                                                Confirm Password does not match.
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form Elements -->
            </div>
        </div>
        <!-- /. ROW  -->

    </div>
</div>
