
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Group question
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/category']">Quản lý danh mục</a></li>
            <li><a class="active">Nhóm sản phẩm</a></li>
        </ol>

    </div>
    <div id="page-inner">
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-success btn-md" (click)="createGroupProduct()">Thêm nhóm SP</button>
                                </div>
                                <div class="col-sm-6" style="text-align: right;">
                                    <form>
                                        <input [(ngModel)]="filter" name= "filter" type="search" class="form-control input-sm" placeholder="Nhập tên thông tin cần tìm kiếm" style="float:right; width: 300px;" />
                                        <div style="clear:both"></div>
                                    </form><br />
                                </div>
                            </div>

                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th class="text-center" style="cursor: pointer;" (click)="sort('groupProductName')">Tên nhóm SP
                                            <span class="glyphicon sort-icon" *ngIf="key =='groupProductName'"
                                            [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th width="160px" class="text-center">Function</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let groupProduct of groupProducts | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                        <td class="text-center">{{ i + 1 }}</td>
                                        <td>{{ groupProduct.groupName }}</td>
                                        <td class="center">
                                            <a [routerLink]="['/category/'+groupProduct.groupProductId+'/type-product']" title="Xem chi tiết" class="btn btn-primary">
                                                <i class="fa fa-info-circle "></i></a> 
                                                &nbsp;
                                            <a title="Sửa" class="btn btn-primary" (click)="updateGroupProduct(i)">
                                                <i class="fa fa-edit "></i></a> 
                                                &nbsp;
                                            <a title="Xóa" class="btn btn-danger" (click)="delteGroupProduct(groupProduct.groupProductId)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                
                            </table>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="dataTables-example_info" style="margin-top:27px">Hiển thị từ 1 đến 5 mục</div>
                                </div>
                                <div class="col-sm-6" style="text-align: right;">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
    </div>
</div>

