<form style="margin: 0 25px;" [formGroup]="testForm">
    <div class="row">
        <div class="popup-test">
            <div class="popup-header">
                <h1 mat-dialog-title>{{ data.title.name }}</h1>
            </div>
            
            <div class="popup-body">
                <div class="form-group">
                    <div class="test">
                        <div class="input-group">
                            <span class="input-group-addon">Test</span>
                            <input name="test" type="text" class="form-control" formControlName="name">
                        </div>

                        <div *ngIf="testFormControl.name?.errors 
                            && (testFormControl.name?.touched || testFormControl.name?.dirty)" 
                            class="text-danger">
                            <div *ngIf="testFormControl.name?.errors?.required"  class="text-danger">
                                Test name is required.
                            </div>
                            <div *ngIf="testFormControl.name?.errors?.containAllBlankCharacter">
                                Test name must not be blank character.
                            </div>
                            <div *ngIf="testFormControl.name?.errors?.maxlength">
                                Test name must be at less than 100 characters long.
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="popup-footer" style="text-align: right;">
                <button class="btn btn-primary" (click)="onNoClick()">No Thanks</button>
                &nbsp;
                <button class=" btn btn-success" [disabled]="testForm.invalid" (click)="submitTestQuestion()">Submit</button>
            </div>

        </div>
    </div>
</form>

