/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.icon-cancel-question {
    top: 6px;
    position: relative;
    left: -20px;
    z-index: 10;
    color: orangered;
    cursor: pointer;
}

.popup-question-content {
    border: 1px solid lightblue;
    padding: 0 25px;
    margin: 25px 0;
    border-radius: 5px;
}

.input-group {
    margin: 10px 0;
}
