a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: block;
}

.box {
    margin: 40px auto;
}

.box-item {
    box-shadow: 0 8px 20px 0 rgba(150, 205, 215, 0.6);
    border-radius: 15px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    font-weight: 400;
    background: #a6daffbf;
    margin-bottom: 30px;
}

.box-item:hover .img-wrapper img  {
    transform: scale(1.1);
}

.img-wrapper img {
    height: fit-content;
    width: fit-content;
    transform: scale(1);
    transition: 0.4s;
}

.img-wrapper {
    height: 10em;
    width: 14em;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 5px;
}

.item-content {
    text-transform: uppercase;
}